{% extends "layout.njk" %}


  {% block content %}

    <div id="aboutext">
        <h1>Sobre o Foodfy</h1>
        <p>Pra quem tem um delivery é comum estar sempre buscando ferramentas que ajudem a facilitar a operação do seu restaurante. Os sistemas de comandas, ferramentas de gestão de restaurante e as plataformas de venda online estão entre essas ferramentas.
            Seja por demanda dos clientes ou mesmo para se organizar melhor, essas plataformas de venda online já devem ter chamado a sua atenção e estão sendo cada vez mais utilizadas pelos restaurantes para aumentar seu volume de vendas.
            E se você já ouviu falar da plataforma iFood mas ainda não sabe como ela funciona, esse texto foi feito especialmente pra você. Aqui, vamos falar um pouco sobre o que é preciso para ser um restaurante parceiro e também responder as dúvidas mais comuns sobre o iFood. Confira! 
            <br>
            <br>
            Para usar a plataforma e divulgar seu restaurante só é preciso arcar com a taxa fixa de participação e uma comissão cobrada sobre os pedidos feitos por meio do site ou aplicativo iFood e não para os demais pedidos.
        </p>

        <h2>Como tudo começou?</h2>
        <p>
            Para começar a usar o iFood, contar com um entregador ou com entregadores dependendo do tamanho do seu negócio e sua área de cobertura. Eles podem ser próprios ou terceirizados, desde que você possa oferecer o serviço de entrega seguro para os clientes.
            <br>
            <br>
            Oferecer um atendimento de qualidade também é um requisito para ser um restaurante parceiro e temos certeza que você dá conta! Isso porque o bom atendimento e a solução de problemas dos clientes já é um diferencial iFood e prezamos pela satisfação dos usuários da plataforma para que nossos parceiros também se beneficiem.
        </p>

        <h2>Nossas receitas</h2>
        <p>
            Um cardápio para delivery nada mais é do que o seu cardápio adaptado para o formato de entregas, ou seja, ele precisa conter pratos que não percam seus aspectos naturais como sabor e textura ao serem transportados, por exemplo.
            <br>
            <br>
            E isso você garante com um pouco de planejamento e a escolha certa das embalagens, sem precisar fazer grandes mudanças ou começar do zero!
        </p>
    </div>
  
  {% endblock %}